.footerali {
  width: 1440px;
  margin: 0 auto 20px;

  .syzykali {
    border-top: 2px solid #ccc;
    position: relative;
    top: 20px;
    width: 1440px;
    margin: 20px auto 20px;
  }

  .infoali {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
    gap: 100px;

    .dealerali {
      width: 260px;

      p {
        color: rgb(123, 123, 123);
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        margin: 30px 0;
        text-align: left;
      }

      .logosali {
        display: flex;
        gap: 20px;

        img {
          width: 35px;
          height: 35px;
        }
      }

      h1 {
        color: rgb(0, 0, 0);
        font-family: Ruberoid;
        font-size: 22.89px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;
      }

      ul {
 
        li {
          margin: 10px 0 5px;
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          list-style: none;  
        }
      }
    }
  }

  .syzyk2ali {
    border: 1px solid #ccc;
    position: relative;
    bottom: 10px;
  }

  .u1ali {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;

    li {
      color: rgb(114, 114, 114);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      list-style: none;
    }
  }
}
